@model IEnumerable<IslandListingViewModel>

<div class="row">
    @foreach (var island in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src=@island.ImageUrl alt=@island.Name>
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@island.Name</h5>
                    <p>
                        @(island.Location + " " + island.SizeInSquareKm + " km")<sup>2</sup>
                    </p>
                    @if (island.Price.HasValue)
                    {
                        <p>@(island.Price + " USD")</p>
                    }
                    else
                    {
                        <p>Price upon request</p>
                    }
                    <a asp-controller="Islands" asp-action="Details" asp-route-id="@island.Id" asp-route-information="@island.Name" class="btn btn-primary">Details</a>
                    @if (ViewBag.AllowMoreFunctionality == true || this.User.IsAdmin())
                    {
                        <a asp-controller="Islands" asp-action="Edit" asp-route-id="@island.Id" class="btn btn-warning">Edit</a>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                            Delete
                        </button>
                    }
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title col-12 text-center" id="exampleModalLabel">Delete confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete @island.Name?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a asp-controller="Islands" asp-action="Delete" asp-route-id="@island.Id" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>