@model AllIslandsQueryModel

@{
    ViewBag.Title = "Dream Island - All Islands";
}

<form method="get">
    <div class="row">
        <div class="form-group col-md-6">
            <div class="form-group">
                <label asp-for="Region"></label>
                <select asp-for="Region" id="regions" class="form-control">
                    <option value="">All</option>

                    @foreach (var region in Model.Regions)
                    {
                        <option value="@region">@region</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Please enter island name or location">
        </div>
    </div>
</form>

<div class="row">
    @foreach (var island in Model.Islands)
    {
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src=@island.ImageUrl alt=@island.Name>
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@island.Name</h5>
                    <p>
                        @(island.Location + " " + island.SizeInSquareKm + " km")<sup>2</sup>
                    </p>
                    @if (island.Price.HasValue)
                    {
                        <p>@(island.Price + " USD")</p>
                    }
                    else
                    {
                        <p>Price upon request</p>
                    }
                    <a asp-controller="Islands" asp-action="Details" asp-route-id="@island.Id" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{ 
<script>
    $(function () {
        $('#regions').change(function () {
            this.form.submit();
        });
    });
</script>
}
