@model IEnumerable<CelebrityListingViewModel>

<div class="row mb-3">
    @foreach (var celebrity in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src=@celebrity.ImageUrl alt=@celebrity.Name height="400">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@celebrity.Name</h5>
                    <p>@celebrity.Occupation</p>
                    <a asp-controller="Celebrities" asp-action="Details" asp-route-id="@celebrity.Id" asp-route-information="@(celebrity.Name + "-" + celebrity.Occupation)" class="btn btn-primary">Details</a>
                    @if (ViewBag.AllowMoreFunctionality == true || this.User.IsAdmin())
                    {
                        <a asp-controller="Celebrities" asp-action="Edit" asp-route-id="@celebrity.Id" class="btn btn-warning">Edit</a>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#tips-@celebrity.Id">
                            Delete
                        </button>
                    }
                    <div class="modal fade" id="tips-@celebrity.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title col-12 text-center" id="exampleModalLabel">Delete confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete @celebrity.Name?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a asp-controller="Celebrities" asp-action="Delete" asp-route-id="@celebrity.Id" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>