@model AllCollectiblesQueryModel

@{
    ViewBag.Title = "Dream Island - All Collectibles";
}

<form method="get">
    <div class="row">
        <div class="form-group col-md-6">
            <div class="form-group">
                <label asp-for="RarityLevel"></label>
                <select asp-for="RarityLevel" id="rarity-levels" class="form-control">
                    <option value="">All</option>
                    @foreach (var rarityLevel in Model.RarityLevels)
                    {
                        <option value="@rarityLevel">@rarityLevel</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Please enter collectible name"/>
        </div>
    </div>
</form>

<div class="row">
    @foreach (var collectible in Model.Collectibles)
    {
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src=@collectible.ImageUrl alt=@collectible.Name>
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@collectible.Name</h5>
                    <p>@collectible.RarityLevel</p>
                    <a asp-controller="Collectibles" asp-action="Details" asp-route-id="@collectible.Id" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{ 
<script>
    $(function () {
        $('#rarity-levels').change(function () {
            this.form.submit();
        });
    });
</script>
}