<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href=https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css rel=stylesheet>
    <link href=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/css/dataTables.bootstrap4.min.css rel=stylesheet>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #ebebeb;">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Dream-Island_Logo.jpg" alt="Dream Island" height="40" width="40" style="border-radius:5px;" /></a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle text-capitalize" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-store"></i>
                                    Our offers
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-area="" asp-controller="Islands" asp-action="All">Islands</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Cars" asp-action="All">Cars</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Celebrities" asp-action="All">Celebrities</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Collectibles" asp-action="All">Collectibles</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Chat" target="_blank"><i class="fas fa-comment"></i> Chat</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        @if (this.TempData.ContainsKey(WebConstants.GlobalMessages.WarningMessageKey))
        {
            <div class="alert alert-danger text-center timed" role="alert">
                @this.TempData[WebConstants.GlobalMessages.WarningMessageKey]
            </div>
        }
        else if (this.TempData.ContainsKey(WebConstants.GlobalMessages.InfoMessageKey))
        {
            <div class="alert alert-primary text-center timed" role="alert">
                @this.TempData[WebConstants.GlobalMessages.InfoMessageKey]
            </div>
        }
        else if (this.TempData.ContainsKey(WebConstants.GlobalMessages.SuccessMessageKey))
        {
            <div class="alert alert-success text-center timed" role="alert">
                @this.TempData[WebConstants.GlobalMessages.SuccessMessageKey]
            </div>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #ebebeb;">
        <div class="container text-dark">
            &copy; @DateTime.UtcNow.Year - DreamIsland - 
            <a class="text-dark text-decoration-none" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="fas fa-mask"></i> Privacy</a> -
            <a class="text-dark text-decoration-none" asp-area="" asp-controller="Home" asp-action="FAQ"><i class="fas fa-question"></i></i> FAQ</a>
        </div>
    </footer>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
                setTimeout(function () {
                    $('.timed').alert('close');
                }, 3000);

        mybutton = document.getElementById("myBtn");

        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }

        function topFunction() {
          document.body.scrollTop = 0; // For Safari
          document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    @Html.RenderPartialSectionScripts()
</body>
</html>
